.orderForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .naslov { grid-area: 1 / 1 / 3 / 6; 
            text-align: center;
            color: sienna;
            font-size: 40pt;
  }
  .naruci { grid-area: 3 / 1 / 5 / 3; 
            text-align: left;
  }
  .naruciSad { grid-area: 3 / 3 / 5 / 5; 
               text-align: right;
          
  }


#order1{
  background-color: rgb(155, 134, 13); 
  border: none;
  border-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#order2{
  background-color: rgb(155, 134, 13); 
  border: none;
  border-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.reset{
  background-color: rgb(155, 134, 13); 
  border: none;
  border-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

